QToolButton#btn_applyA {
    background-color: #ffaa00;
}

QLabel#lbl_a {
    background-color: #ffaa00;
    border: 1px solid #32414b;
    border-radius: 4px;
}

QTreeWidget#tree_a QHeaderView::section {
    background-color: #ffaa00;
}


QToolButton#btn_applyB {
    background-color: #aa00ff;
}

QLabel#lbl_b {
    background-color: #aa00ff;
    border: 1px solid #32414b;
    border-radius: 4px;
}

QTreeWidget#tree_b QHeaderView::section {
    background-color: #aa00ff;
}
